<div class="container-fluid m-2">
  <div class="split-picture-text d-flex">
    <div class="text">
      <h1>Welcome on Dabzed</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa mollitia molestiae, non repellendus debitis dolorum voluptatibus accusamus dicta voluptates perspiciatis aperiam veniam itaque est quisquam eum autem ut nesciunt. Perferendis!</p>
      <%= link_to "Are you sure ?", root_path %>
    </div>
    <div class="img-vegeta">
      <%= image_tag "vegeta.png" %>
    </div>
  </div>
</div>
