<div class="container">
  <div class="row d-flex">
    <div class="text-home col-xs-12 col-sm-6 col-md-6 ">
      <h1>Welcome on Dragon Ball</h1>
      <p class="paragraph-home">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa mollitia molestiae, non repellendus debitis dolorum voluptatibus accusamus dicta voluptates perspiciatis aperiam veniam itaque est quisquam eum autem ut nesciunt. Perferendis!</p>
      <%= link_to "かめはめ波", characters_path, class:"btn-home" %>
    </div>
    <div class="img-home col-xs-12 col-sm-6 col-md-6">
      <%=  cl_image_tag('Ultimate_Gohan_by_hirus4drawing_on_DeviantArt_nqftuy', class:"character-home") %>
    </div>
  </div>
</div>
