<div class="container">
  <div class="split-picture-text d-flex">
    <div class="text">
      <h1>Welcome on Dragon Ball</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa mollitia molestiae, non repellendus debitis dolorum voluptatibus accusamus dicta voluptates perspiciatis aperiam veniam itaque est quisquam eum autem ut nesciunt. Perferendis!</p>
      <%= link_to "Dragon yourself", characters_path, class:"btn-home" %>
    </div>
    <div class="img-vegeta">
      <%=  cl_image_tag('Dragon_Ball_Broly_Png_File_-_Broly_Ssj_Blue_Png_free_png_image_cxmkux', class:"character-home") %>
    </div>
  </div>
</div>
